# Ignore the following files
# --------------------------
# Unity3D specific
#
*Question_Tracker.csv
*build_info.txt
**/Library/*
**/Temp/*
**/Assets/CSV/*
**/Assets/JSON/*
**/*.csproj
**/*.unityproj
**/*.sln
**/*.userprefs
**/*.pidb
*.blend1
*.apk
Castle Math/Assets/StreamingAssets/build_info.txt
Castle Math/Assets/Scenes/frostLevel.unity
*.meta
