<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sglib.easymobile.androidnative"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- Permission required to automatically restore un-interacted notifications if the user reboots the device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >

        <!-- FileProvider for sharing feature -->
        <provider
            android:name="com.sglib.easymobile.androidnative.EMFileProvider"
            android:authorities="com.Lucerna.MedievalMath.easymobile_fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Activity that gets started when a notification is opened. -->
        <activity android:name="com.sglib.easymobile.androidnative.notification.NotificationHandlerActivity" >
        </activity>

        <!-- Receiver for the alarm manager events and post notifications. -->
        <receiver
            android:name="com.sglib.easymobile.androidnative.notification.NotificationAlarmReceiver"
            android:enabled="false" >
        </receiver>

        <!-- Receiver for the boot completed event and reschedule pending notifications. -->
        <receiver
            android:name="com.sglib.easymobile.androidnative.notification.NotificationBootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>